

body {
  font-family: Arial, sans-serif;
  background: #3f486c;
  color: white;
  text-align: center;
}

h1 {
  font-size: 250px
}

button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
