

body {
  font-family: "Agdasima", sans-serif;
  background: #222a4b;
  color: white;
  text-align: center;
}

h1 {
  font-family: "Agdasima", sans-serif;
  font-size: 100px
}

h3 {
  font-family: "Agdasima", sans-serif;
  font-size: 50px
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0b1c2d;
  color: white;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 90%;
  max-width: 1100px;
  margin: 20px auto;
}

.box {
  background: #162b44;
  border-radius: 12px;
  padding: 20px;
  min-height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.box h2 {
  margin-top: 0;
  border-bottom: 1px solid #ffffff33;
  padding-bottom: 8px;
}

/* Position meaning */
.next-game { grid-column: 1; grid-row: 1; }
.players   { grid-column: 2; grid-row: 1; }
.standings { grid-column: 1; grid-row: 2; }
.schedule  { grid-column: 2; grid-row: 2; }

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
}


button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
